body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  margin: 0;
  padding: 0;
}

.wrapp__content {
  margin: 20px 0;
}

.box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(255, 255, 255);
}

.legend {
  position: absolute;
  top: 0;
  right: -35%;
  width: 32%;
  font-size: 13px;
}

.legend__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  color: rgba(0, 77, 102, 1);
}
.label_legend {
  width: auto;
}

.btn.arrow {
  font-size: 2rem;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active,
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn,
.btn:focus-visible {
  border: none;
}

.btn.custom {
  border: 1px solid #429ccc !important;
}

.btn-check:checked + .btn.custom,
.btn.custom.active,
.btn.custom.show,
.btn.custom:first-child:active,
:not(.btn.custom-check) + .btn.custom:active,
.btn.custom:hover,
.btn.custom:focus,
.btn.custom:active {
  background-color: rgba(235, 247, 251, 1) !important;
  color: rgba(0, 77, 102, 1) !important;
}

.toolbar {
  position: absolute;
  z-index: 999;
  top: -65px;
  right: 0px; /**/
}

.page-0 .toolbar {
  /* top: -50px; */
}

.customLine {
  width: 16px;
  height: 3px;
  margin-right: 5px;
  justify-content: space-between;
}
.legend__content--item {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.customEdge {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.showChart {
  color: rgba(6, 7, 9, 1);
  font-size: 1.5rem;
  position: relative;
  bottom: 4px;
  width: auto;
  margin-left: 5px;
}

.components__warpper {
  position: relative;
  margin-top: 15px;
  z-index: 0;
}

.CurveDiffConsoEffetClimat .legend {
  top: 160px;
}

.page-1 .CurveConsoEffectOfSobriety:last-child .legend, .CurveConsoEffectOfSobrietyDecrease .legend{
  top: 200px;
}
.CurveDiffConsoEffetClimat {
  width: 100%;
  height: auto;
}
.CurveConsoEffectOfSobrietyDecrease {
  width: 100%;
  height: auto;
}

.page-1 .CurveConsoEffectOfSobriety:last-child canvas{
  display: none !important;
}

.page-1 .CurveConsoEffectOfSobriety:first-child .legend .legend__content--item:last-child,
.page-1 .CurveConsoEffectOfSobrietySecond:first-child .legend .legend__content--item:last-child,
.page-1 .CurveConsoEffectOfSobriety:last-child .legend .legend__content--item:first-child,
.page-1 .CurveConsoEffectOfSobriety:last-child .legend .legend__content--item:nth-child(4),
.page-1 .CurveConsoEffectOfSobriety:last-child .legend .legend__content--item:nth-child(2),
.page-1 .CurveConsoEffectOfSobriety:last-child .legend .legend__content--item:nth-child(3),
.page-1 .CurveConsoEffectOfSobrietyDecrease:first-child .legend .legend__content--item:last-child{
  display: none !important;
}
