body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #19252B!important;
}
.App {
  margin: 0;
  padding: 0;
}

.slick-slide img {
  margin: auto;
}
.header-title{
  font-family: 'Nunito Sans';
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  padding-left: 30px;
}
.head-wrapp {
  background: #004D66;
}
canvas {
  background-color:rgba(255, 255, 255);
  margin-top: 30px;
  padding: 30px;
  border-radius: 6px;
  background: #FFFFFF;
}
.bg_button_wrapp {
  margin: 15px;
  background-color:transparent;
}
.wrapp-content{
  background-color:rgba(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  border-radius:4px;
  margin-bottom: 32px;
  margin: 32px;
  gap: 20px;
  box-shadow: 0px 4px 24px rgba(38, 41, 66, 0.06);
}
