body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 0;
  padding: 0;
}

.wrapp__content {
  margin: 0;
  z-index: 0;
  position: relative;
}

.box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(255, 255, 255);
}

.box.custom {
  position: relative;
  padding-top: 70px;
  margin-bottom: 20px;
}

.customButtons {
  position: absolute;
    top: 12px;
    z-index: 999;
    width: auto;
    left: 26px;
}

.customToolbar {
  position: absolute;
  top: -6px;
  z-index: 999;
  right: 26%;
  width: auto;
}

.legend__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  color: rgba(0, 77, 102, 1);
}

.btn.arrow {
  font-size: 2rem;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn,
.btn:focus-visible,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  border: none;
  outline: none !important;
}

.btn.custom {
  border: 1px solid #429ccc !important;
}

.btn-check:checked+.btn.custom,
.btn.custom.active,
.btn.custom.show,
.btn.custom:first-child:active,
:not(.btn.custom-check)+.btn.custom:active,
.btn.custom:hover,
.btn.custom:focus,
.btn.custom:active {
  background-color: rgba(235, 247, 251, 1) !important;
  color: rgba(0, 77, 102, 1) !important;
  outline: none !important;
}

.btn:focus {
  outline: none !important;
}

.customLine {
  width: 16px;
  height: 3px;
  margin-right: 5px;
  justify-content: space-between;
}

.legend__content--item {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.customEdge {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.showChart {
  color: rgba(6, 7, 9, 1);
  font-size: 1.5rem;
  position: relative;
  bottom: 4px;
  width: auto;
  margin-left: 5px;
}

.components__warpper {
  position: relative;
  margin-top: 15px;
  z-index: 0;
}

.modal-header {
  border: none !important;
}

.modal-body {
  padding: 0 !important;
}

.modal-content {
  width: 65% !important;
}

h5.modal-title {
  font-size: 12px !important;
}

canvas#pieChart {
  padding: 5px !important;
  margin: 0 auto !important;
}

.page-0 .CurveDiffConsoEffetClimat .box.custom,
.page-1 .CurveConsoEffectOfSobrietyDecrease .box.custom {
  padding-top: 20px;
}

.page-1 .CurveConsoEffectOfSobriety:nth-child(2) .box.custom {
  display: none !important;
}

.page-0 .CurveDiffConsoEffetClimat .legend {
  position: relative;
  top: -390px;
}

.page-1 .row:nth-child(2) .legend {
  position: relative;
  top: 16px
}

.page-1 .row:last-child .CurveConsoEffectOfSobriety,
.page-1 .CurveConsoEffectOfSobriety:first-child .legend .legend__content--item:last-child,
.page-1 .CurveConsoEffectOfSobriety:last-child .legend .legend__content--item:nth-child(2),
.page-1 .CurveConsoEffectOfSobriety:last-child .legend .legend__content--item:nth-child(3),
.page-1 .CurveConsoEffectOfSobriety:last-child .legend .legend__content--item:nth-child(4),
.page-1 .CurveConsoEffectOfSobrietySecond .legend .legend__content--item:nth-child(5) {
  display: none !important;
}

/* CUSTOM RESPONSIVE */
/* # Phone */
@media screen and (min-width:320px) {
  .legend {
    display: flex;
  }
  .box {
    width: 100%;
  }

  .CurveDiffConsoEffetClimat {
    margin-top: 20px;
  }

  .btn.arrow {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:360px) {
  canvas {
    height: 100%;
  }
} 

@media screen and (min-width:360px) and (max-width:740px) {
  .customToolbar {
    right: 5%;
  }
  .box {
    width: 100%;
  }
  
  .custom canvas {
    height: 100%;
    width: 100%;
  }

  .legend {
    display: flex;
    width: 100%;
  }
  .legend__content {
    width: 100%;
  }
  .legend__content--item {
    font-size: 11px;
  }

  .CurveDiffConsoEffetClimat {
    margin-top: 20px;
  }

  .container {
    max-width: 95% !important;
  }

  .btn.arrow {
    font-size: 1.5rem;
  }
}


/* # Tablet */
@media screen and (min-width:768px) and (max-width:1024px) {
  .customToolbar {
    right: 28%;
  }
  .legend__content--item {
    font-size: 11px;
  }

  .showChart {
    color: rgba(6, 7, 9, 1);
    font-size: 1rem;
}

  .legend {
    display: flex;
  }

  .container {
    max-width: 95% !important;
  }

  .btn.arrow {
    font-size: 2rem;
  }
}

/* # Desktop */
@media screen and (min-width:998px) {
  .legend {
    display: block;
  }

  .btn.arrow {
    font-size: 2rem;
  }
}
.label_legend {
  width: 100%;
  padding: 5px;
}
