.slick-prev {
  left: auto;
  right: 35px;
}

.slick-next {
  right: 0;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
  font-size: 2rem;
}

.slick-prev,
.slick-next {
  top: 0;
  font-size: 2rem;
}
